body{
  font-family: 'Dancing Script', cursive;
font-family: 'Noto Serif JP', serif;
}

.shouhin_narabi1{
  background-color:;
}

.shouhin_info{
  background-color: ;
}

.shouhin_itiran{
  overflow: hidden;
  background-color:;
  display: inline-block;

}

.shouhin_gazou{
  position:relative;
  float: left;
  margin: 10px 0;
  text-align: center;
  background-color:;
}

.shouhin_img{
  display: block;
  width: 260px;
  height: 160px;
}

.kakutei{
  text-align: center;
  position: absolute;
  top: 500px;
  left: 500px;
}

.kakutei_btn{
  width: 45px;
  height: 40px;
  border:;
  cursor: pointer;
}
