.shouhin_gazou .badge{
  position: absolute;
  top: -10px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #87CEEB;
  color: black;
}

.more_items{
  text-align: center;
}
