/* HEADER
------------------------------*/
.logo {
  width: 250px;
  margin-top: 14px;
}

.main-nav {
  display:  flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}


li {
   font-family: 'Playfair Display', serif;
}




.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #87CEFA;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 30px;
    background: #FFF;
    color: #87CEFA;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
    font-size: 20px;
}

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #87CEFA;
    border-radius: 8px;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 30px;
    background: #FFF;
    color: #87CEFA;
    font-weight: bold;
}
.box27 p {
    margin: 0; 
    padding: 0;
}

.box1 {
    display: inline-block;
    text-align: center;
	float:left;
}

.box2:after{
    content: "";
    clear: both;
    display: block;
}

.box3 {
  position: relative;
  background: #b0c4de;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.box3:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #a8d4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}


/* フッター
------------------------------- */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}


/* メイン部分*/
article {
  width: 80%;
}


/* サイドバー*/
aside {
  width: 25%
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

ul{
  text-align: center;
  list-style: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.master_info{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.box-title{
  font-family: 'Playfair Display', serif;
}