/* HEADER
------------------------------*/
.logo {
  width: 250px;
  margin-top: 14px;
}

.main-nav {
  display:  flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

li {
   font-family: 'Playfair Display', serif;
}




body{
  font-family: 'Dancing Script', cursive;
font-family: 'Noto Serif JP', serif;
  background-image: url("images/back.jpg");
  background-size: cover;
  background-attachment: fixed;
}
}

.shouhin_itiran{
  display: inline-block;

}

.shouhin_gazou{
  position:relative;
  float: left;
  margin: 10px 0;
  text-align: center;
  background-color:;
}

.shouhin_gazou .badge{
  position: absolute;
  top: -10px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #87CEEB;
  color: black;
}

.shouhin_img{
  display: block;
  width: 280px;
  height: 180px;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ;
  background-color: white;
}

.shouhin_gazou:hover .overlay{
  opacity: .8;

}

.text{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%. -50%);
  text-align: center;

}

.page_bangou{
  text-align: center;
  letter-spacing: 5px;

}

/* フッター
------------------------------- */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}


/* メイン部分*/
article {
  width: 80%;
}


/* サイドバー*/
aside {
  width: 20%;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

ul{
  text-align: center;
  list-style: none;
}

.sub-title{
  font-family: 'Playfair Display', serif;
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 30px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%
  margin-bottom: 50px;
}