@charset "UTF-8";

/*　共通部分
--------------------------------*/

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium","游ゴシック Medium", YuGothic, "游ゴシック体","ヒラギノ角ゴ　Pro W3",
  sans-serif;
 line-height: 1.7;
  color: #432;
}
img {
   max-width: 100%
}

/* HEADER
------------------------------*/
.logo {
  width: 250px;
  margin-top: 14px;
}

.main-nav {
  display:  flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #0bd;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.bl_sliderBlock{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.el_menuSliderCounter{
    padding: 10px 0 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}

h9 p {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

h2 {
  text-align: center;
}

li {
   font-family: 'Playfair Display', serif;
}

h4 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

h5{
  text-align: center;
}

/* フッター
------------------------------- */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* メイン部分*/
article {
  width: 80%;
}


/* サイドバー*/
aside {
  width: 20%;
}

.news-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

ul{
  text-align: center;
  list-style: none;
}

/* CONTACT
---------------------------------*/
#contact {
  background-image: url(images/item11.jpg);
  min-height: 100vh;
}

/*フォーム*/
form div {
  margin-bottom: 14px;
}
label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255,255,255,.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.page-title{font-family: 'Playfair Display', serif;
  font-size: 40px;}

.sub-title{
  font-family: 'Playfair Display', serif;
  font-family: 'PT Serif', serif;
  text-align: center;
  font-size: 30px;
}

body {
  background-image: url("images/back.jpg");
  background-size: cover;
  background-attachment: fixed;
}